<div id="page-content">
<h1 class="text-center mt-4">All Blog Posts</h1>

<div class="container">
  <% @articles.each do |article| %>
    <div class="row justify-content-center">
      <div class="col-6 mt-4">
        <div class="card text-center shadow-lg p-1 mb-5 bg-white rounded">
           <div class="card-header font-italic text-right font-weight-light">
            Written by: Nathan Jenkins
          </div>
          <div class="card-body">
            <h5 class="card-title"><%=link_to article.title, article_path(article), class: "text-info" %></h5>
            <p class="card-text" style= "color: black;"><%= truncate(article.description, length: 100,) %></p>
            <%= link_to "Edit", edit_article_path(article), class: "btn btn-outline-warning btn-sm" %>
            <%= link_to "Read Article", article_path(article), class: "btn btn-outline-info" %>
            <%= link_to "Delete", article_path(article), method: :delete, class: "btn btn-outline-danger btn-sm", data: {confirm: "Do you wish to delete?"} %>
          </div>
          <div class="card-footer text-muted">
            <small>Created <%= time_ago_in_words(article.created_at) %> ago,
            edited <%= time_ago_in_words(article.updated_at) %> ago </small>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div> 

<p>
  <%= link_to 'Create New Article', new_article_path %> |
  <%= link_to 'Home Page', root_path %> |
  <%= link_to 'About Page', about_path %>
</p>
