<footer id="sticky-footer" class="py-4 bg-dark text-white">
    <div class="container text-center">
      <% if logged_in? %>
      <%= link_to 'Create New Article', new_article_path, class: "btn btn-outline-light btn-sm" %> |
      <%= link_to 'Home Page', articles_path, class: "btn btn-outline-light btn-sm" %> |
      <% else %>
      <%= link_to 'Sign up and Create', signup_path, class: "btn btn-outline-light btn-sm" %> |
      <%= link_to 'Home Page', root_path, class: "btn btn-outline-light btn-sm" %> |
      <% end %>
      Copyright &copy; |
      <%= link_to 'About Page', about_path, class: "btn btn-outline-light btn-sm" %> |
      <% if logged_in? %>
      <%= link_to 'Nathan Jenkins', 'https://github.com/NJenkinStudio/App_One//', class: "btn btn-outline-light btn-sm" %>
      <% else %>
      <%= link_to 'Authors', users_path, class: "btn btn-outline-light btn-sm" %>
      <% end %>
      </small>
    </div>
</footer>